*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.fixed-top-bar-active{
    background-color: #fff;
}
.nav-link{
    font-weight: 400;
    color: #000;
    font-size: 15px;
    margin: 0px 10px;
}
.nav-icon a i{
    margin: 0px 5px;
    color: #000;
    background-color: transparent;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.nav-icon a i:hover{
    color: #0077b5;
    background-color: #fff;
}
.menu-bar{
    margin-left: 40px;
}
.menu-bar .top-line{
  width: 20px;
  height: 1px;
  display: block;
  background-color: #000;
  margin-left: 4px;
}
.menu-bar .middle-line{
    margin-top: 5px;
    width: 30px;
    height: 1px;
    display: block;
    background-color: #000;
}
.menu-bar .bottom-line{
    margin-top: 5px;
    width: 20px;
    height: 1px;
    display: block;
    background-color: #000;
    margin-left: 4px;
}
.overlay-menu-fullscerene{
   width: 100%;
   background-color: #f1c30f;
   z-index: 111;
   text-align: center;
   height: 100vh;
   display: none;
   position: relative;
}
.overlay-menu-fullscerene img{
    margin-top: 100px;
    margin-bottom: 70px;
    width: 200px;
}
.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item ul li{
    list-style: none;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    width: 250px;
    position: relative;
    text-align: start;
    z-index: 999;
    overflow: hidden;
}
.menu-item ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    background-color:#ff1637;
    z-index: -1;
    transition: .7s;
}
.menu-item ul li:hover::before{
  top: 0;
  left: 0;
}
.menu-item ul li span{
    font-size: 22px;
    color: #c0c0c0;
}
.menu-item ul li a{
    font-size: 20px;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    margin-left: 5px;
}
.menu-item ul li:hover>a{
    color: #fff;
}
.menu-icon{
    margin-top: 50px;
}
.menu-bar-active{
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    right: -68px;
    top: -36px;
}
.menu-bar-active i{
   position: absolute;
   top: 70px;
   left: 29%;
   display: none;
}
.menu-bar-active i{
    color: #000;
    display: block;
    font-size: 25px;
}
.menu-icon i{
    color: #000;
    font-size: 20px;
    margin: 0px 5px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    outline: 1px solid #000;
    border-radius: 50%;
}
.menu-icon i:hover{
    background-color: #fff;
    outline: none;
}
.banner-area-left{
    background-color: #f5f5f5;
    position: relative;
}
.lamp-img{
    position: absolute;
    top: 130px;
    left: 180px;
}
.laptop-img{
    position: absolute;
    top: 320px;
    right: -150px;
    z-index: 1;
    height: 300px;
}
.banner-area-right{
    background-color: #f1c30f;
    height: 100vh;
    position: relative;
}
.banner-area-right-content{
    position: absolute;
    top: 200px;
    left: 100px;
}
.banner-area-right-content h2{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-left: 201px;
}
.banner-area-right-content h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 20px;
}
.banner-area-right-content p{
    color: rgb(24, 25, 29);
    font-size: 18px;
    margin-left: 135px;
    margin-top: 30px;
    font-size: 300;
}
.banner-area-right-content .theme-btn{
    background-color: #ff1637;
    border: none;
    padding: 12px 30px;
    color: #fff;
    border-radius: 40px;
    display: block;
    position: relative;
    margin-top: 50px;
    margin-left: 310px;
}
.page-link{
    position: absolute;
    top: 350px;
    left: 10px;
    border: none;
}
.page-link:hover{
    background-color: #fff;
}
.page-link a{
    display: block;
    color: #f1c30f;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}
.banner-area-right-two{
    background-color: #e6e6e6;
    height: 100vh;
    position: relative;
    display: none;
}
.banner-area-right-content-two{
    position: absolute;
    top: 200px;
    left: 100px;
}
.banner-area-right-content-two h2{
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-left: 201px;
}
.banner-area-right-content-two h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 20px;
}
.banner-area-right-content-two p{
    color: rgb(24, 25, 29);
    font-size: 18px;
    margin-left: 135px;
    margin-top: 30px;
    font-size: 300;
}
.banner-area-right-content-two .theme-btn{
    background-color: #ff1637;
    border: none;
    padding: 12px 30px;
    color: #fff;
    border-radius: 40px;
    display: block;
    position: relative;
    margin-top: 50px;
    margin-left: 310px;
}
.counter-section-right{
    text-align: center;
    margin-top: 80px;
}
.counter-content-wrap i{
    display: block;
    font-size: 50px;
}
.counter-content-wrap span{
    display: block;
    font-size: 40px;
    margin-top: 20px;
}
.counter-content-wrap{
    margin-top: 20px;
}
.team-section{
    padding: 120px 0px;
}
.team-heading h5{
    color: #ff1637;
    font-weight: 600;
    text-align: center;
}
.team-heading h1{
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}
.team-heading p{
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    color: #636363;
}

.item img{
    height: 452px;
}
.owl-carousel{
    margin-top: 50px;
}
.item h3{
    font-size: 25px;
    color: #25262a;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}
.item h6{
    margin-top: 20px;
    text-align: center;
    color: #6f6f6f;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    position: relative;
}
.item h6::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 50px;
    background-color: #f1c30f;
    top: 100%;
    left: 42%;
}
.personal-social-media{
    text-align: center;
    margin-top: 30px;
}
.personal-social-media i{
    color: #000;
    font-size: 20px;
    margin: 0px 5px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50%;
}
.personal-social-media i:hover{
    background-color: #db4437;
    border: none;
    color: #fff;
}
.portfolio-heading{
    padding: 120px 0px;
    background-color: #f6f6f6;
}
.portfolio-heading h5{
    color: #ff1637;
    font-weight: 600;
    text-align: center;
}
.portfolio-heading h1{
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}
.portfolio-heading p{
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    color: #636363;
}
.portfolio-item .one-image{
    width: 767px;
}
.portfolio-item .two-image{
    width: 384px;
}
.portfolio-item .three-image{
    width: 384px;
}
.portfolio-item .five-image{
    margin-top: -128px;
}
.portfolio-item{
    position: relative;
}
.icon i{
    font-size: 20px;
    color: #fff;
    height: 50px;
    width: 50px;
    background-color: #f1c30f;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}
.icon{
    position: absolute;
    right: 0;
    top: 10%;
    z-index: 112;
    display: none;
}
.package-section{
    padding: 100px 0px;
}
.package-heading h6{
    color: #ff1637;
    font-weight: 600;
    text-align: center;
}
.package-heading h1{
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}
.package-heading p{
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    color: #636363;
}
.pricing-item{
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin-top: 120px;
}
.pricing-item h3{
    font-weight: 600;
    border-bottom: 1px solid #efecec;
    padding-bottom: 15px;
}
.pricing-item span{
    display: inline-block;
    margin-top: 20px;
}
.pricing-item .amount{
    font-size: 60px;
}
.price-description{
    margin-top: 30px;
}
.price-description p{
    cursor: pointer;
    color: #838383;
}
.pricing-action .btn{
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 30px;
}
.pricing-item-1{
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    position: relative;
    margin-top: 90px;
}
.pricing-item-1 h3{
    font-weight: 600;
}
.pricing-item-1 h6{
    border-bottom: 1px solid #efecec;
    padding-bottom: 15px;
}
.quarter-tringle{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 55px solid #f1c30f;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.pricing-item-1 span{
    display: inline-block;
    margin-top: 20px;
}
.pricing-item-1 .amount{
    font-size: 60px;
}
.price-description{
    margin-top: 30px;
}
.price-description p{
    cursor: pointer;
    color: #838383;
}
.pricing-item-1 .pricing-action .btn{
    background-color: #f1c30f;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
}
.quarter-tringle-content i{
    color: #fff;
    display: block;
    margin-top: 5px
}
.quarter-tringle-content span{
    color: #fff;
}
.quarter-tringle-content{
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
}
.pricing-item:hover{
    background-color: #000;
    color: #fff;
}
.pricing-item:hover p{
    color: #fff;
}
.pricing-item:hover .btn{
    border: 1px solid #fff;
}
.pricing-item-1:hover{
    background-color: #f1c30f;
    color: #fff;
}
.pricing-item-1:hover p{
    color: #fff;
}
.pricing-item-1:hover .btn{
    border: 1px solid #fff;
}
.design-section{
    margin-top: 50px;
    position: relative;
}
.design-section-left{
    background-color: #f1c30f;
    padding: 100px 60px;
    height: 448px;
}
.design-section-left h1{
    font-size: 48px;
    text-transform: capitalize;
}
.design-section-left p{
    margin-top: 40px;
    color: #27251b;
    font-weight: 500;
}
.design-section-right img{
   width: 100%;
}
.video-playbutton i{
    height: 80px;
    width: 80px;
    background-color: #ff1637;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    line-height: 80px;
    text-align: center;
}
.video-playbutton{
    position: absolute;
    left: 47.5%;
    top: 45%;
}
.video-playbutton i:hover{
    background: #ffffff;
    color: #ff1637;
}
.client-section{
    padding: 100px 0px;
    background-color: #f6f6f6;
}
.client-heading h5{
    color: #ff1637;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}
.client-heading h1{
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    text-transform: capitalize
}
.client-heading p{
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    color: #636363;
}
.client-content{
    background-color: #fff;
    padding: 50px 30px;
    text-align: center;
}
.client-content p{
    font-size: 14px;
    font-weight: 500;
}
.client-content a{
    color: #ff1637;
    text-decoration: none;
}
.vlog-section{
    position: relative;
}
.vlog-section-right{
    background-color: #f6f6f6;
    text-align: center;
    padding: 50px;
}
.vlog-section-right h6{
    font-size: 23px;
    font-weight: 400;
    color: #ff1637;
}
.vlog-section-right h1{
    font-size: 50px;
    text-transform: capitalize;
    margin-top: 40px;
}
.vlog-section-right p{
    margin-top: 30px;
    font-size: 15px;
    color: #68686b;
}
.vlog-section-right .btn{
    background-color: #ff1637;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 33px;
}
.box-number-2{
    display: none;
}
.box-number-3{
    display: none;
}
.vlog-btn{
    height: 80px;
    width: 80px;
    background-color: #ff1637;
    color: #fff;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 47.5%;
    top: 45%;
    
}
.vlog-btn .left-btn{
    margin-right: 30px;
    cursor: pointer;
}
.vlog-btn .right-btn{
    cursor: pointer;
}
/* media query */
@media only screen and (max-width: 767px){
    .menu-item ul li span{
        font-size: 18px;
    }
    .menu-item ul li a{
        font-size: 16px;
    }
    .menu-item ul li{
        width: 200px;
    }
    .menu-item ul{
        margin-left: -10px;
    }
    .banner-area-left{
        display: none;
    }
    .banner-area-right h2{
        margin-left: 0;
        font-size: 35px;
    }
    .banner-area-right p{
        margin-left: 0;
        font-size: 16px;
    }
    .banner-area-right h1{
        font-size: 40px;
    }
    .banner-area-right .theme-btn{
        margin-left: 0;
    }
    .item{
        width: 352px;
        margin-left: 80px;
    }
    .pricing-item{
        margin-left: 85px;
    }
    .pricing-item-1{
        margin-left: 85px;
    }
    .design-section-left h1{
        font-size: 40px;
    }
    .video-playbutton{
        left: 42.5%;
        top: 53%;
    }
    .client-section .item{
        margin-left: 0;
        width: 100%;
    }
    .vlog-btn{
        top: 33%;
        left: 43%;
    }
    .vlog-section-right h1{
       font-size: 40px;
    }
    .vlog-section-right h6{
        font-size: 20px;
    }
}